@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mohave", sans-serif;
}

:root {
    --border-rad: 10px;
    --text-clr: #fff;
    --btn-clr: #1b2761;
    --sm-font: 3em;
    --med-font: 4em;
    --lg-font: 5em;
    --xl-font: 6em;
    --text-font: 2em;
}

html,
body{
    width: 100%;
    height: 100%;
    font-size: 16px;
}

body a {
    text-decoration: none;
}
body li {
    list-style: none;
}

/* font Sizes for headings */
.text-font{
    font-size: var(--text-font);
}
.sm-font{
    font-size: var(--sm-font);
}
.med-font{
    font-size: var(--med-font);
}
.lg-font{
    font-size: var(--lg-font);
}
.xl-font{
    font-size: var(--xl-font);
}


/* heading and para color */
.txt-white{
    color: var(--text-clr);
}
.row.bg-change {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.418);
    background-image: url('../images/bg-images/bg-1.jpg');
    width: 100%;
    height: 100%;
    background-position: bottom;
    background-size: cover;
    background-blend-mode: color;
    box-shadow: 1px 1px 40px black;
    position: relative;
}

/* .row.bg-change::before{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: black;
    filter: blur(10px);
} */


section#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: transparent;
    background: radial-gradient(circle, rgba(54,54,114,1) 0%, rgba(124,81,128,1) 30%, rgba(54,54,114,1) 100%);
}

.wrapper {
    width: 100%;
 
}

img#cloud-image {
    max-width: 100%;
    width: 90px;
    filter: invert(1);
}
div#left-column {
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 10px;
}
div#right-column {
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: end;
}
h2#temperature{
    font-size: 11em;
}
p#day-date {
    font-size: 1.5em;
}
p#weather-condition {
    font-size: 2em;
}
span#high-temp,
span#low-temp {
    font-size: 3em;
}
p#forecast {
    margin-right: 60px;
}
.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px;
    border-bottom: 1px solid white;
    line-height: 60px;
}
ul#ul-list {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0px 20px;
    margin: 0;
}
ul#ul-list li a {
    font-size: 1.5em;
    color: gray;
    transition: all .3s ease-in-out;
}
.three-dot {
    padding-right: 20px;
    font-size: 1.5em;
    color: var(--text-clr);
}
.active{
    color: var(--text-clr) !important;
}
#forecast-div img{
    max-width: 100%;
    width: 80px;
}
p#hours {
    margin-bottom: 0;
}
p#updated-temp {
    margin-top: 12px;
}
input#Search-city {
    width: 95%;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 0px 20px;
    font-size: 1.25em;
}

button#search-btn {
    width: 150px;
    height: 50px;
    margin: 50px 0px;
    font-size: 1.25em;
    border: none;
    border-radius: 10px;
    background:var(--btn-clr);
    color:var(--text-clr);
}

